:root {
  --amarelo:  #ffeb3b;
  --fonte: 'Poppins', sans-serif;
  --branco: #EFEFEF;
  --azul: #043a80;
  --fonte-login: 'Kanit', sans-serif;
  --fonte-register: 'Protest Guerrilla', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--azul);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Poppins',  'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
